#four-square-container {
	position: relative;
	justify-content: stretch;
	text-align: left;
}

#four-square-section {
	font-size: large;
	font-variant-caps: all-petite-caps;
	color: red;
	font-weight: 600;
}

#four-square-title {
	font-size: medium;
	font-weight: 700;
	font-family: 'Times New Roman', Times, serif;
	color: black;
}

#four-square-section,
#four-square-title,
#four-square-description,
#four-square-author {
	margin-top: 2px;
}

#four-square-photo {
	position: relative;
	width: 100%;
}

#four-square-description,
#four-square-author {
	color: grey;
}

/* Tablets*/
@media (max-width: 768px) and (min-width: 481px) {
	#four-square-photo {
		width: 100%;
	}
}

/* Mobile*/
@media (max-width: 480px) {
	#four-square-photo {
		min-width: 105px;
	}

	#four-square-container {
		min-width: 105px;
	}
}
