#hoverIcon-container {
	display: flex;
	position: relative;
	width: 100%;
	align-items: center;
	height: 250px;
	overflow: hidden;
}

#hoverIcon-photo {
	display: flex;
	position: relative;
	width: 100%;
	opacity: 75%;
	background-color: #cccccc;
}

#hoverIcon-photo:hover,
#hoverIcon-title:hover,
#hoverIcon-container:hover {
	opacity: 100%;
}

#hoverIcon-title {
	position: relative;
	display: inline-flex;
	margin: auto;
	color: aliceblue;
	font-family: 'Times New Roman', Times, serif;
	font-size: xx-large;
	background-color: rgba(0, 0, 0, 0.3);
	bottom: calc(125px + 1rem);
}

/* Desktops*/
@media (max-width: 1200px) and (min-width: 1025px) {
	#hoverIcon-container {
		display: flex;
		position: relative;
		height: 200px;
	}
	#hoverIcon-photo {
		position: relative;
		height: 200px;
	}

	#hoverIcon-title {
		position: relative;
		display: flex;
		justify-content: center;
		align-content: center;
		margin-top: 17px;
	}
}

/* Laptops*/
@media (max-width: 1024px) and (min-width: 769px) {
	#hoverIcon-title {
		position: relative;
		font-size: x-large;
		bottom: 10vw;
	}
	#hoverIcon-photo {
		height: 15vw;
	}
	#hoverIcon-container {
		height: 15vw;
	}
}

/* Tablets*/
@media (max-width: 768px) and (min-width: 481px) {
	#hoverIcon-title {
		font-size: x-large;
		bottom: 20vw;
	}
	#hoverIcon-container {
		height: 32.5vw;
	}
	#hoverIcon-photo {
		height: 32.5vw;
	}
}

/*Mobile*/
@media (max-width: 480px) {
	#hoverIcon-title {
		font-size: x-large;
		bottom: 20vw;
	}
	#hoverIcon-container {
		height: 32.5vw;
		min-width: 120px;
		min-height: 105px;
	}
	#hoverIcon-photo {
		height: 32.5vw;
		min-width: 120px;
		min-height: 105px;
	}
}
