#primary-square-container {
	display: block;
	position: absolute;
	height: 210px;
	width: 380px;
	right: 5%;
	top: 30%;
	justify-content: left;
	text-align: left;
	margin-bottom: 2vh;
	padding-left: 1.1%;
	margin-top: 0%;
	background-color: white;
}

#primary-square-section {
	position: relative;
	top: -15px;
	font-size: large;
	font-variant-caps: all-petite-caps;
	color: red;
	font-weight: 600;
}

#primary-square-title {
	font-size: xx-large;
	font-weight: 700;
	font-family: 'Times New Roman', Times, serif;
	color: black;
}

#primary-square-title,
#primary-square-description,
#primary-square-author {
	position: relative;
	top: -15px;
	margin-top: 10px;
}
#primary-square-description,
#primary-square-author {
	color: grey;
}

/* Laptops and Larger*/
@media (max-width: 1024px) {
	#primary-square-container {
		position: absolute;
		width: 95%;
		right: 2%;
		padding: auto;
		height: 135px;
		top: 90%;
		margin: auto;
	}

	#primary-square-title,
	#primary-square-description,
	#primary-square-author {
		margin-top: 1px;
	}

	#primary-square-title {
		font-size: x-large;
		font-weight: 700;
		font-family: 'Times New Roman', Times, serif;
	}
}

/* Tablets*/
@media (max-width: 768px) and (min-width: 481px) {
	#primary-square-container {
		position: absolute;
		width: 92%;
		right: 3%;
		padding: auto;
		height: 135px;
		top: 90%;
		margin: auto;
	}

	#primary-square-section,
	#primary-square-title,
	#primary-square-description,
	#primary-square-author {
		margin-top: 0px;
	}

	#primary-square-title {
		font-size: large;
		font-weight: 700;
		font-family: 'Times New Roman', Times, serif;
	}
}

/* Mobile*/
@media (max-width: 480px) {
	#primary-square-container {
		position: absolute;
		width: 92%;
		right: 3%;
		padding: auto;
		height: 120px;
		top: 90%;
		margin: auto;
	}

	#primary-square-section {
		position: relative;
		top: -15px;
		font-size: medium;
		font-variant-caps: all-petite-caps;
		color: red;
		font-weight: 600;
	}

	#primary-square-title {
		font-size: medium;
		font-weight: 700;
		font-family: 'Times New Roman', Times, serif;
	}

	#primary-square-description,
	#primary-square-author {
		font-size: small;
	}
}
