#single-square-container {
	/* display: flex; */
	position: relative;
	/* height: 400px; */
	/* height: 43vh; */
	/* max-height: 530px; */
	/* height: 60vh; */
	/* width: 300px; */
	/* max-width: 390px; */
	/* width: 23vw; */
	/* border: solid green; */
	justify-content: left;
	text-align: left;
	margin-bottom: 2vh;
	overflow: hidden;
}

#single-square-section {
	font-size: large;
	font-variant-caps: all-petite-caps;
	color: red;
	font-weight: 600;
}

#single-square-title {
	font-size: xx-large;
	font-weight: 700;
	font-family: 'Times New Roman', Times, serif;
}

#single-square-title,
#single-square-description,
#single-square-author {
	/* position: relative; */
	top: -15px;
	margin-top: 10px;
}
#single-square-photo-cropped {
	width: 176%;
	display: block;
	/* height: auto; */
	height: 120%;
	position: relative;
	/* object-fit: cover; */
	/* height: 200px; */
	/* width: 50%; */
	/* object-position: 20% 10%; */
	/* overflow: hidden; */
	/* top: 50%; */
	left: -25%;
	/* transform: translate(-50%, -50%); */
}

@media (max-width: 750px) {
	#single-square-title {
		font-size: x-large;
	}

	#single-square-title,
	#single-square-description,
	#single-square-author {
		margin-top: 2px;
	}
	#single-square-section {
		margin: 5px 0px;
	}
}
