#single-square-cropped-container {
	position: relative;
	justify-content: left;
	text-align: left;
	margin-bottom: 2vh;
	overflow: hidden;
}

#single-square-section {
	font-size: large;
	font-variant-caps: all-petite-caps;
	color: red;
	font-weight: 600;
}

#single-square-title {
	font-size: xx-large;
	font-weight: 700;
	font-family: 'Times New Roman', Times, serif;
}

#single-square-title,
#single-square-description,
#single-square-author {
	top: -15px;
	margin-top: 10px;
}
#single-square-photo-cropped {
	width: 176%;
	display: block;
	height: 120%;
	position: relative;
	left: -25%;
}

#single-square-description,
#single-square-author {
	color: grey;
}

@media (max-width: 750px) {
	#single-square-title {
		font-size: x-large;
	}

	#single-square-title,
	#single-square-description,
	#single-square-author {
		margin-top: 2px;
	}
	#single-square-section {
		margin: 5px 0px;
	}
}
