#three-square-container {
	display: inline-block;
	position: relative;
	max-height: 625px;
	max-width: 390px;
	width: 23vw;
	justify-content: left;
	text-align: left;
	margin-bottom: 2vh;
}

#three-square-section {
	font-size: large;
	font-variant-caps: all-petite-caps;
	color: red;
	font-weight: 600;
	text-decoration: none;
	display: inline-block;
}

#three-square-title {
	font-size: xx-large;
	font-weight: 700;
	font-family: 'Times New Roman', Times, serif;
	color: black;
}

#three-square-section,
#three-square-title,
#three-square-description {
	margin-top: 5px;
}

#three-square-author {
	margin-top: 15px;
}

#three-square-photo {
	width: 23vw;
	max-width: 390px;
}

#three-square-description,
#three-square-author {
	color: grey;
}

/*Laptops and Larger*/
@media (max-width: 1024px) {
	#three-square-title {
		font-size: x-large;
	}
	#three-square-section,
	#three-square-title,
	#three-square-description,
	#three-square-author {
		margin-top: 1px;
	}
	#three-square-container {
		margin-bottom: 0vh;
	}
}

/*Tablets*/
@media (max-width: 768px) and (min-width: 481px) {
	#three-square-container {
		position: relative;
		width: 72vw;
		max-width: 555px;
		margin-bottom: 40px;
	}

	#three-square-photo {
		width: 100%;
		max-width: 555px;
	}
	#three-square-title {
		font-size: large;
	}
}

/*Mobile*/
@media (max-width: 480px) {
	#three-square-container {
		position: relative;
		width: 72vw;
		max-width: 555px;
		min-width: 230px;
		margin-bottom: 10px;
	}

	#three-square-photo {
		width: 100%;
		min-width: 230px;
	}

	#three-square-title {
		font-size: medium;
	}

	#three-square-description,
	#three-square-author {
		font-size: small;
	}
}
