:root {
	--main-min-width: 481px;
}

#home-container {
	position: relative;
	margin-top: 4vh;
	min-width: 320px;
}

a {
	text-decoration: none;
}

#primary-image-container {
	position: relative;
	display: flex;
	width: 72%;
	height: calc(0.475 * 100vw);
	margin: auto;
	margin-bottom: 50px;
}

#primary-image {
	position: absolute;
	width: 100%;
	left: 0%;
}

#primary-image-description {
	position: absolute;
	width: 23vw;
}

#four-box-grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 250px;
	width: 72vw;
	margin: auto;
}

.four-box-grid-item {
	font-size: xx-large;
	font-family: 'Times New Roman', Times, serif;
	color: aliceblue;
}

#hover-container {
	display: inline-flex;
	width: 72vw;
}

#four-box-menu {
	display: flex;
	position: relative;
	align-items: center;
	justify-items: center;
	color: aliceblue;
	font-size: 4.5vh;
	width: 72vw;
	min-width: var(--main-min-width);
	margin: 40px auto 0px auto;
}

.four-box-menu-icon {
	display: inline-flex;
	position: relative;
	height: 15vw;
	width: 20vw;
	margin: auto;
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	opacity: 50%;
	align-items: center;
	justify-content: center;
	flex-shrink: 1;
}

.subject {
	height: 100%;
}

.four-box-menu-icon:hover {
	opacity: 100%;
}

.subtitle {
	position: relative;
	font-size: xx-large;
	text-align: left;
	text-indent: 13.5vw;
	font-weight: 600;
	font-family: 'Times New Roman', Times, serif;
	margin-top: 50px;
}

.three-square-container-short {
	display: flex;
	justify-content: space-between;
	width: 72vw;
	min-width: var(--main-min-width);
	max-height: 525px;
	height: auto;
	margin: auto;
	margin-bottom: 10px;
}

#signup-bar {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	background-color: red;
	color: aliceblue;
	height: 160px;
	width: 100%;
	margin-top: 35px;
	font-family: 'Times New Roman', Times, serif;
}

#signup-header-h1 {
	margin: 20px auto 10px;
}

#signup-header-h3 {
	margin: 7px auto;
}

#signup-bar-inputs {
	margin: 7px auto;
}

#signUpEmailField,
#signUpButton {
	display: flex;
	margin: 5px 5px;
}

#signUpEmailField {
	width: 50vw;
	max-width: 500px;
}

.three-square-container {
	display: flex;
	justify-content: space-between;
	width: 72vw;
	min-width: var(--main-min-width);
	height: auto;
	margin: auto;
}

.four-square-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 20px;
	justify-content: stretch;
	width: 72vw;
	min-width: 200px;
	margin: auto;
}

.four-square-container-item {
	display: flex;
	position: relative;
}

.six-square-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	width: 72vw;
	margin: auto;
	gap: 20px;
}

#signup-bar2 {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	background-color: yellow;
	color: black;
	height: auto;
	width: 100%;
	margin-top: 35px;
	font-family: 'Times New Roman', Times, serif;
	padding: 10px 0px 35px;
}

#signup2-header-h1 {
	margin: 20px auto 10px;
}

#signup2-header-h3 {
	margin: 7px auto;
}

#signup2-bar-inputs {
	display: flex;
	justify-content: center;
	width: 100%;
}
#signUpEmailField2,
#signUpButton {
	display: flex;
	margin: 5px 5px;
}
#signUpEmailField2 {
	width: 50vw;
	max-width: 500px;
}

#weight-loss-spacer {
	height: 10vh;
}

#link-banner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	height: auto;
	width: 96vw;
	margin: auto;
}

.linkItems {
	font-size: 50px;
	margin: 0px 27px;
}

/*Extra Large Screens, TV*/
@media (min-width: 1201px) {
}

/* Desktops*/
@media (max-width: 1200px) and (min-width: 1025px) {
	.four-box-menu-icon {
		font-size: xx-large;
	}

	.three-square-container {
		max-height: 575px;
		flex: 1;
	}

	#four-box-grid-container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-auto-rows: 200px;
	}
}

/* Laptops*/
@media (max-width: 1024px) and (min-width: 769px) {
	#primary-image-container {
		margin-bottom: 150px;
	}

	.three-square-container {
		max-height: 550px;
		margin-bottom: 10px;
	}
	.three-square-container-short {
		max-height: 415px;
	}

	#four-box-grid-container {
		align-items: stretch;
		grid-auto-rows: 15vw;
	}
}

/* Tablets*/
@media (max-width: 768px) and (min-width: 481px) {
	#primary-image-container {
		margin-bottom: 150px;
	}

	#four-box-grid-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: 32.5vw;
	}

	.three-square-container-short {
		flex-direction: column;
		width: 72vw;
		max-width: 72vw;
		max-height: 1700px;
		min-width: 200px;
		height: auto;
	}

	.three-square-container {
		flex-direction: column;
		width: 72vw;
		max-width: 72vw;
		max-height: 2100px;
		min-width: 200px;
		height: auto;
	}

	.six-square-container {
		flex-direction: row;
		flex-wrap: wrap;
		width: 72vw;
		padding: 0px;
		min-width: 200px;
	}

	#signup-bar {
		height: auto;
	}

	#signup-header-h1 {
		margin: 5px auto;
		font-size: large;
	}

	#signup2-bar {
		height: 145px;
	}

	#signup2-header-h1 {
		margin: 7px auto;
		font-size: large;
	}
}

/* Mobile*/
@media (max-width: 480px) {
	#primary-image-container {
		margin-bottom: 150px;
	}

	#four-box-grid-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: 32.5vw;
		min-width: 240px;
		min-height: 210px;
	}

	.three-square-container-short {
		flex-direction: column;
		width: 72vw;
		max-width: 72vw;
		max-height: 1700px;
		min-width: 230px;
		height: auto;
	}

	.three-square-container {
		flex-direction: column;
		width: 72vw;
		max-width: 72vw;
		max-height: 1700px;
		min-width: 230px;
		height: auto;
	}

	.six-square-container {
		position: relative;
		flex-direction: column;
		max-height: 1900px;
		width: 72vw;
		min-width: 200px;
	}

	.subtitle {
		font-size: x-large;
	}

	#signup-bar {
		height: 145px;
		min-width: 285px;
	}

	#signup-header-h1 {
		font-size: large;
	}

	#signup2-bar {
		height: 145px;
		min-width: 285px;
	}

	#signup2-header-h1 {
		font-size: large;
	}
	.linkItems {
		margin: 0px 20px;
	}
}
