#footerContainer {
	background-color: rgb(221, 221, 221);
	box-sizing: border-box;
}
#topButton {
	display: flex;
	font-size: large;
	background-color: rgba(128, 128, 128, 0.315);
	height: 30px;
	align-items: center;
	justify-content: center;
}
#linkList {
	display: flex;
	justify-content: space-evenly;
	width: 72vw;
	margin: auto;
	font-weight: 700;
}
.linkItem {
	margin: 0px 20px;
}
a {
	color: black;
}

#backToTopContainer {
	display: flex;
}
.iconItem {
	margin: 10px 20px;
	font-size: 40px;
}

.footerItem {
	padding: 10px 0px;
}

/*Tablets*/
@media (max-width: 768px) {
	#linkList {
		flex-direction: column;
	}
	.linkItem {
		margin: 5px auto;
	}
}

@media print {
	#footerContainer {
		display: none !important;
	}
}
