#container {
	border: 1px;
	border-style: hidden;
	width: calc(100vw - 2px);
	height: 84px;
	display: flex;
	position: relative;
	justify-content: space-around;
	align-items: center;
	border-bottom: solid 1px grey;
}

.navButton {
	display: flex;
	position: relative;
	margin: 20px 0px;
	font-weight: 700;
	height: 84px;
	align-items: center;
	padding: 0px 5px;
	box-sizing: border-box;
}

.navButton:hover {
	border-left: solid 1px grey;
	border-right: solid 1px grey;
}

.navLink {
	color: black;
}

.navLink:hover {
	background-color: white;
	color: red;
}

#logo {
	height: 84px;
	margin: 0px;
	padding: 0px;
}

#mobile-menu {
	visibility: hidden;
	width: 1px;
	height: 1px;
}

#recipeTypes {
	/* Below line needed to make invisible initially */
	display: none;
	position: absolute;
	flex-direction: column;
	top: 90px;
	width: 160px;
	border: solid grey 1px;
	list-style-type: none;
	margin: -6px;
	padding: 5px 0px;
	z-index: 0.9;
	background-color: white;
	text-align: left;
	color: black;
	box-sizing: border-box;
}

#weightLossRecipeTypes {
	/* Below line needed to make invisible initially */
	display: none;
	position: absolute;
	flex-direction: column;
	top: 90px;
	width: 161px;
	border: solid grey 1px;
	margin: -6px -6px;
	padding: 6px;
	z-index: 0.9;
	background-color: white;
	text-align: left;
	color: black;
	box-sizing: border-box;
}

.recipeMenuItem {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 161px;
	margin-left: 0px;
	padding-left: 5px;
	padding-right: 5px;
	height: 35px;
	box-sizing: border-box;
}
.recipeMenuItem:hover {
	color: red;
	background-color: rgb(0, 0, 0, 0.05);
}

.navButton:hover #recipeTypes {
	display: flex;
	z-index: 1;
}
.navButton:hover #weightLossRecipeTypes {
	display: flex;
	z-index: 1;
}

#recipeSubTypes {
	display: none;
	position: absolute;
	left: 152px;
	list-style-type: none;
	margin: 0px 6px 0px;
	padding: 5.5px 0px 0px 5px;
	z-index: 1;
	border: solid 1px grey;
	width: 150px;
	top: -5.7px;
	background-color: white;
	color: black;
}
#skinnyRecipeSubTypes {
	display: none;
	position: absolute;
	left: 152px;
	list-style-type: none;
	margin: 0px 0px 0px;
	padding: 5.5px 10px 5px;
	z-index: 1;
	border: solid 1px grey;
	width: auto;
	top: -5.5px;
	background-color: white;
	color: black;
	box-sizing: border-box;
}

.recipeMenuItem:hover #recipeSubTypes {
	display: block;
}
.recipeMenuItem:hover #skinnyRecipeSubTypes {
	display: block;
}

.recipeSubItem:hover {
	color: red;
}

.recipeSubItem {
	height: 35px;
	display: flex;
	align-items: center;
}

.recipeMenuItem {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 160px;
	margin-left: 0px;
}

.mobileNavButton,
.secondaryMobileItem,
.tertiaryMobileItem {
	display: none;
}

@media (max-width: 1190px) {
	.navButton {
		display: none;
	}

	.chevron:hover {
		transform: translateY(2px);
		color: red;
	}

	.secondaryMobileTitle:hover {
		transform: translateY(2px);
		color: red;
	}

	.tertiaryMobileItem:hover {
		transform: translateY(2px);
		color: red;
	}

	#logo {
		position: absolute;
		left: 33px;
		bottom: 2px;
	}

	#mobile-menu {
		position: absolute;
		display: flex;
		visibility: visible;
		width: auto;
		height: 30px;
		right: 33px;
		font-size: xx-large;
		z-index: 1;
		padding: 0px;
		margin: 0px;
		justify-content: center;
		justify-self: flex-end;
	}

	#mobileNavButtonList {
		display: flex;
		position: absolute;
		flex-direction: column;
		width: auto;
		width: 100vw;
		top: 84px;
		background-color: white;
		text-align: right;
		align-self: center;
		padding-right: 33px;
		box-sizing: border-box;
		margin: 0px auto;
		z-index: 1;
	}

	.mobileNavButton {
		display: flex;
		position: relative;
		list-style: none;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		font-size: 15px;
		font-weight: 700;
		height: 20px;
		flex-wrap: nowrap;
		border-bottom: solid grey 1px;
		padding: 6px 0px;
		align-items: center;
		justify-content: space-between;
	}

	.mobileDropdownIcon {
		display: flex;
		position: relative;
	}

	#container {
		border: 1px;
		border-bottom: solid 1px grey;
		height: 83px;
		display: flex;
		position: relative;
		justify-content: stretch;
		align-items: center;
		min-width: 320px;
	}

	.secondaryMobileMenu {
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		font-size: 15px;
		font-weight: 700;
		border-bottom: solid grey 1px;
		padding: 6px 0px 6px 20px;
		text-align: left;
	}

	.secondaryMobileItem {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.tertiaryMobileItem {
		display: flex;
		padding: 3px 0px 3px 20px;
		align-items: center;
		justify-content: space-between;
	}
}

/*Mobile*/
@media (max-width: 480px) {
}

@media print {
	#container {
		display: none;
	}
}
